*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,67,99,1) 16%, rgba(53,100,130,1) 29%, rgba(74,140,168,1) 78%, rgba(0,212,255,1) 100%);
}

a {
    text-decoration: none;
    color: #fff; 
}

.container {
    height: 100vh; 
    width: 100vw; 
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

#display {
    margin: 0 10px;
    height: 100px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

.calculator {
    background-color: #fff;
}

.calculator #dispaly {
    color: rgba(2,0,36,1)
}

.calculator #clear {
    background-color:orange;
    color: #fff; 
}
.calculator button.btn-number {
    background-color: rgba(36,67,99,1) ;
    color:#fff; 
}

.calculator button.btn-operator {
    background-color: rgba(74,140,168,1) ;
    color:#fff; 
}

.calculator button.btn-equal {
    background-color:orange;
    color: #fff; 
}


